@page "{heroId:int}"

@model ASPNetCoreApp1.Pages.DetailModel
@{
}

<h2> @Model.Hero.Name</h2>

<div> @Model.Hero.Id</div>
<div> @Model.Hero.Type</div>
<div> @Model.Hero.CreationDate</div>

<div style="margin-top:16px">
    <a class="btn btn-danger" asp-page="./Edit" asp-route-heroId="@Model.Hero.Id"> Edit </a>
    <a asp-page="./List" class="btn btn-link"> Return to heroes list</a>
</div> 